extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      // Page Title
      h1 Sample application requesting data from Github

  section.section--major
    .container
      #data